.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    min-height: 100px;
}

.products {
    width: 100%;
}

.products {
    width: 100%;
}

.empty {
    text-align: center;
}
 .empty p {
    font-size: 2rem;
    color: #fe5d42;
    border: 2px dashed #fe5d42;
    border-radius: 8px;
    margin: 0 10px;
 }

 .empty svg {
font-size: 15rem;  
color: #fe5d42;  
}